@Html.ActionLink("查看详情 >>", "Details", new { id = Model.Id })
@if (this.Session["IsLogin"] != null && (bool)this.Session["IsLogin"])
{
    <span> | </span>@Html.ActionLink(" ", "Edit", new { id = Model.Id }, new { @class = "glyphicon glyphicon-edit", @title = "编辑" })
    <span> | </span>@Html.ActionLink(" ", "Delete", new { id = Model.Id }, new { @class = "glyphicon glyphicon-trash", @title = "删除" })
}
