@{
    ViewBag.Title = "关于我们";
}

<h3>公司介绍</h3>
<p>
    <img src="~/images/logo.png" style="float: left; margin-right: 10px" />
    紫荆湖科技有限公司(ZiJingHu Technology Co., Ltd.)，是新兴的管理软件供应商，主要从事Office Automation管理自动化软件、商业智能软件、电子政务软件和集团管控软件的研发与推广，
    长期致力于为政府部门和企业集团提供咨询及信息化管理解决方案。<br /><br />

    2014年，紫荆湖科技创建于美国佛罗里达州，并在广东省东莞市设有分公司。现已形成以佛罗里达总部为核心、全球多家分支机构为节点的营销、研发、服务和咨询体系与完善的品牌体系。
    紫荆湖的用户遍布各级政府部门、直属机构和大型企业集团。
    与中国、美国政府多个部门建立了长期合作关系，用户数量逾十万。作为初创企业，紫荆湖科技已经被美国佛罗里达州政府认定为值得信赖的合作伙伴。<br /><br />

    紫荆湖科技以战略化咨询、平台化技术、专业化服务打造精细化的产品和解决方案，通过丰富的业务积累和实施经验，不断创新产品与服务平台。
    未来，紫荆湖科技将坚持“追求精致、持续创新”的发展愿景，凭借对技术发展方向、行业最佳实践、精细化管理思想以及对客户需求的精准把握，
    成为领先的政府部门与企业集团管理信息化咨询、建设、服务的国际化优秀供应商。<br />
</p>

<h3>公司方针</h3>
    <p>诚信、规范、简洁、精致、高效、创新。<br /></p>

<h3>业务内容</h3>
<p>
    紫荆湖科技研究设计开发的商业智能与决策分析、办公自动化管理、能源管控、风险管控、资产管理、战略绩效、项目管理、经营统计和综合业务应用等系统在政府、金融、交通、通信、
    建筑、能源、化工、旅游和商贸等多个领域发挥着重要作用。紫荆湖科技的办公自动化（OA）管理平台、能源管控解决方案(EMS)、旅行管理自动化解决方案(Travel)、信号灯摄像管控自动化（Photo Enforcement）
    等优秀解决方案正在为广大用户提供系统专业的信息化支持。
</p>
