@{
    ViewBag.Title = "联系我们";
}

<h3>美国</h3>
<div>ZiJingHu Technology Co., Ltd </div>
<span class="glyphicon glyphicon-map-marker"></span>&nbsp;901 Riggins Road, Tallahassee FL 32308, USA <br />
<span class="glyphicon glyphicon-phone-alt"></span>&nbsp;(+001)850-5913459<br />
<span class="glyphicon glyphicon-envelope"></span>&nbsp;info@zijinghu.com

<br />
<h3>中国</h3>
<div>紫荆湖科技有限公司</div>
<span class="glyphicon glyphicon-map-marker"></span>&nbsp;广东省东莞市长安镇德胜西路338号创业中心1701单元<br />
<span class="glyphicon glyphicon-phone-alt"></span>&nbsp;(+086)139-85672920<br />
<span class="glyphicon glyphicon-envelope"></span>&nbsp;info-china@zijinghu.com
