@{
    ViewBag.Title = "首页";
}

<div class="row">
    <div class="col-md-4">
        <h3>关于紫荆湖科技</h3>
        <p>
            <img src="~/images/logo.png" style="float: left; margin-right: 10px" />
            紫荆湖科技有限公司(ZiJingHu Technology Co., Ltd.)，是中国领先的管理软件供应商，主要从事Office Automation管理自动化软件、商业智能软件、电子政务软件和集团管控软件的研发与推广，
            长期致力于为政府部门和企业集团提供咨询及信息化管理解决方案。<br/>
        </p>
        <p><a class="btn btn-default" href="~/Home/About">更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>项目案例</h3>
        <p>
            紫荆湖科技的项目案例包括办公自动化（OA）管理平台、能源管控解决方案(EMS)、旅行管理自动化解决方案(Travel)、信号灯摄像管控自动化(Photo Enforcement)，
            等优秀解决方案。
        </p>
        <p><a class="btn btn-default" href="~/Product">更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>服务支持</h3>
        紫荆湖科技专业服务旨在帮助政府和企业运营商实施极具效率的解决方案，同时充分利用人力和技术资源。紫荆湖科技咨询机构致力于帮助用户找到有效的方法来实现设计、施工和运营工作流的自动化以及从其软件投资中获得最大收益。
        <p><a class="btn btn-default" href="/Business">更多 &raquo;</a></p>
    </div>
</div>